<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Title" />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a title.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter some text.</mat-error
      >
    </mat-form-field>
    <br /><br />
    <div>
      <button mat-stroked-button type="button" (click)="uploader.click()">
        Upload Image
      </button>
      <input type="file" #uploader (change)="onImageUpload($event)" />
    </div>
    <br />
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-error *ngIf="form.get('image').invalid"
      >Image upload is required. Must be a PNG or JPEG/JPG image.</mat-error
    >
    <br />
    <button color="accent" mat-raised-button type="submit">Post</button>
  </form>
</mat-card>
